button {
    color: green;
}

.form {
    background-color: yellowgreen;
    padding: 10px;
    border-radius: 5px;
    margin: 15px;
}

#color {
    border-radius: 5px;
}

#color:hover {
    background-color: mediumvioletred;
}

.move {
    width: 200px;
    float: right;
}

.jpg {
    border-radius: 95px;
}

.jpg:hover {
    width: 690px;
    height: auto;
    transition: 0.5s;
}

#navlist li a#current {
    background-color: red;
}

ul#navlist li {
    display: inline;
}

ul#navlist li a {
    text-align: center;
    float: left;
    width: 10em;
    color: #fff;
    background-color: #036;
    padding: 0.2em 1em;
    text-decoration: none;
    border-style: solid;
    border-color: #fff;
    border-width: 0px 5px;
}

ul#navlist li a:hover {
    background-color: #369;
    color: #fff;
}

ul#navlist {
    color: #fff;
    background-color: #036;
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}